.navbar {
  background-color: #ffffff!important;

  transition: all .5s;
  z-index: 997;
  padding: 20px 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  box-shadow: -1px -1px 12px 0px #ccc;
}

.navbar .megamenu{ 
  padding: 1rem; 
  background-color: #0494bf;
}

.list-unstyled a{
  color: #ffffff;
  font-family: "Open Sans",sans-serif;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
  color: #000;
}

.navbar .navbar-brand img{
  width: 200px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(132 132 132 / 75%);
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}